.listing-title {
    font-size: 24px;
    font-weight: bold;
  }

.everything-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .listing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .listing-container img {
    margin-top: 10px;
  }