<div class="everything-container">
<h1>Ocean County, NJ Facebook Marketplace Scraper</h1>
<p>
    Returns 'Keyword'-related Facebook Marketplace listings posted within the last 24h in Ocean County 
</p>
<label for="keyword">Keyword:</label>
<input type="text" id="keyword" name="keyword" [(ngModel)]="keyword">
<button (click)="confirmKeyword()">Go</button>

<div *ngFor="let listing of listings">
    <div class="listing-container" >
        <a [href]="listing.link" target="_blank" class="listing-title">{{ listing.title }}</a>
        <img [src]="listing.image" alt="Listing Image">
        <p>{{ listing.price }}</p>
    </div>
    
</div>
</div>

    
